name: Build and Notify

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          echo "Installing dependencies"

      - name: Generate pip list
        run: |
          pip list > ryzenai_pip_list.txt

      - name: Output pip list
        run: |
          echo "Contents of ryzenai_pip_list.txt:"
          cat ryzenai_pip_list.txt || { echo "Failed to read ryzenai_pip_list.txt"; exit 1; }

      - name: Extract required packages with formatting
        id: extract-notifications
        run: |
          echo "Running grep to filter packages and format output..."
          notifications=$(grep -E '^(aianalyzer|device-essentials-phx|device-essentials-strx|flexml|flexml-metadata|microkernel-tiling|onnxruntime-vitisai|ryzen-ai|torch|torch-mlir|torchvision|vai-q-onnx|vaiml|vaitrace|vitis-aie-essentials|vitis_mllib|voe)' ryzenai_pip_list.txt | sed 's/^/\n&/; s/$/&\n/')
          
          # Print the notifications directly for the next step
          echo "notifications=${notifications}" 
          echo "Captured notifications: $notifications"

      - name: Notify Teams
        uses: ./.github/actions/notify_teams
        with:
          overall-status: ${{ job.status }} # Capturing the overall status of the build job
          run-url: ${{ github.run_url }}
          action-name: Build
          workflow-status: ${{ job.status }} # Status of the workflow
          workflow-name: ${{ github.workflow }}
          version-info: ${{ steps.extract-notifications.outputs.notifications }} # Use the captured notifications directly
